<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Disappearing Ninjas Assignment</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'ninjas/css/style.css' %}">
	</head>
	<body>
		<section>
			<h2>Leonardo</h2>
			<img src="{% static 'img/leonardo.jpg' %}" alt="blue">
			<a href="{% url 'color' color='blue' %}">/ninjas/blue</a>
		</section>
		<section>
			<h2>Michelangelo</h2>
			<img src="{% static 'img/michelangelo.jpg' %}" alt="orange">
			<a href="{% url 'color' color='orange' %}">/ninjas/orange</a>
		</section>
		<section>
			<h2>Raphael</h2>
			<img src="{% static 'img/raphael.jpg' %}" alt="red">
			<a href="{% url 'color' color='red' %}">/ninjas/red</a>
		</section>
		<section>
			<h2>Donatello</h2>
			<img src="{% static 'img/donatello.jpg' %}" alt="purple">
			<a href="{% url 'color' color='purple' %}">/ninjas/purple</a>
		</section>
	</body>
</html>
