<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Dashboard | Login</title>
	</head>
	<body>
		<div id="wrapper">
			<h2>Signin</h2>
			<form action="/process/login" method="POST">
				{% csrf_token %}
				<p><label for="email">Email Address:</label></p>
				<input type="email" name="email" id="email">
				<p><label for="password">Password:</label></p>
				<input type="password" name="password" id="password">
				<input type="submit" value="Sign In">
			</form>
			<p>
				<a href="/register">Don't have an acocunt? Register</a>
			</p>
		</div>
		<footer>
			{% if messages %}
			<ul class="messages">
				{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
		</footer>
	</body>
</html>
